* {
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;
}

.app_body {
  display: flex;
  background-color: #ededed;
  margin-top:  0;
  height: 100%;
  width: 100%;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

.chat {
    display: flex;
    flex-direction: column;
    flex: 0.7;
}

.chat__header {
    display: flex;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.chat__headerTitle {
    flex: 1;
    padding-left: 0px;
}

.chat__headerTitle > h4 {
    margin-bottom: 3px;
    font-weight: 500;
}

.chat__headerTitle > p {
    font-size: 13px;
    color: gray;
}

.chat__body{
    flex: 1;
    background-color: #ffffff;
    background-repeat: repeat;
    background-position: center;
    padding: 0px;
    overflow: auto;
    border-left: 1px solid grey !important;
}

.chat__message {
    position: relative;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 10px;
    width: fit-content;
    border-radius: 0px;
    background-color: #ffffff;
    margin-bottom: 0px;
    width: 100%;
}

.chat__reciever {
    margin-left: auto;
    background-color: #dcf8c6
}

.chat__timestamp {
    margin-left: 10px;
    font-size: xx-small;
}

.chat__name {
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.3;
}

.sidebar_header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
}

.sidebar_headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar_headerRight > .MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px !important;
}

.sidebar__search {
    height: 39px;
    background-color: #f6f6f6;
    align-items: center;
    padding: 10px;
    display: flex;
}

.sidebar__searchContainer {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 0px;
}

.sidebar__searchContainer > .MuiSvgIcon-root {
    color: gray;
    padding: 10px;
}

.sidebar__searchContainer > input {
    border: none;
    outline-width: 0 !important;
    margin-left: 10px;
    width: 100%;
}

.sidebar__chat {
    background-color: white;
}

.sidebarChat {
    display: flex;
    justify-content: space-arround;
    margin-top: 3px;
    margin-left: 0px;
    padding: 5px;
    margin-right: 10px;
}

.sidebarChat:hover {
    background-color: #e6e6e6;
    border-radius: 10px;
    cursor: pointer; 
}

.sidebarChat__lastMsg {
    font-size: 13px;
}

.sidebarChat__info {
    margin-left:20px;
    margin-top:2px;
}

